## Handle Categorical features

### One hot encoding

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("titanic_train.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
pd.get_dummies("Sex")

   Sex
0    1

In [8]:
pd.get_dummies(df).head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
df= pd.read_csv("titanic_train.csv",usecols=["Sex"])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [11]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [27]:
s=pd.get_dummies(df,drop_first=True)

In [28]:
type(s)

pandas.core.frame.DataFrame

In [29]:
s

    Sex_male  Sex_male
0        NaN         1
1        NaN         0
2        NaN         0
3        NaN         0
4        NaN         1
..       ...       ...
0        1.0         0
1        0.0         0
2        0.0         0
3        0.0         0
4        1.0         0

[901 rows x 2 columns]

In [30]:
s.head()

   Sex_male  Sex_male
0       NaN         1
1       NaN         0
2       NaN         0
3       NaN         0
4       NaN         1

In [16]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [21]:
df.append(df,[s]).head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [22]:
df.append(df,columns="s").head()

TypeError: append() got an unexpected keyword argument 'columns'

In [31]:
df= pd.concat([df,s])
df.head()

ValueError: Plan shapes are not aligned

In [32]:
df= pd.concat([df,s],axis=1)
df.head()

      Sex  Sex_male  Sex_male  Sex_male
0    male       NaN       NaN         1
1  female       NaN       NaN         0
2  female       NaN       NaN         0
3  female       NaN       NaN         0
4    male       NaN       NaN         1

In [36]:
df.drop(["Sex_male","Sex_male"],axis=1)

       Sex
0     male
1   female
2   female
3   female
4     male
..     ...
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

[901 rows x 1 columns]

In [37]:
####### Restarting the process !!!!!!!

In [67]:
df= pd.read_csv("titanic_train.csv",usecols=["Sex"])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [68]:
df.Sex.isnull().sum()

0

In [69]:
s= pd.get_dummies(df["Sex"])
s

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [70]:
s= pd.get_dummies(df["Sex"],drop_first=True)
s

     male
0       1
1       0
2       0
3       0
4       1
..    ...
886     1
887     0
888     0
889     1
890     1

[891 rows x 1 columns]

In [75]:
s.columns=["Male"]
s.head()

   Male
0     1
1     0
2     0
3     0
4     1

In [71]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [76]:
df= pd.concat([df,s],axis=1)
df.head()

      Sex  Male
0    male     1
1  female     0
2  female     0
3  female     0
4    male     1

In [77]:
df.drop(["Sex"],axis=1,inplace=True)

In [78]:
df.head()

   Male
0     1
1     0
2     0
3     0
4     1

In [151]:
df= pd.read_csv("titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [152]:
df.Embarked.unique()  ## We can handle the nan values by using the methods we learned, but here will just drop the nan values

array(['S', 'C', 'Q', nan], dtype=object)

In [98]:
df[df.Embarked.isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [100]:
df["Embarked"].dropna()   ## Not working

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 889, dtype: object

In [104]:
df[df.Embarked.isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [108]:
df.dropna(subset=["Embarked"],inplace=True)

In [109]:
df[df.Embarked.isnull()]  ##  This means all clear !

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [110]:
sex=pd.get_dummies(df["Sex"],drop_first=True)
emb=pd.get_dummies(df["Embarked"],drop_first=True)

In [142]:
sex
emb

     Q  S
0    0  1
1    0  0
2    0  1
3    0  1
4    0  1
..  .. ..
886  0  1
887  0  1
888  0  1
889  0  0
890  1  0

[889 rows x 2 columns]

In [111]:
emb.head(65)

    Q  S
0   0  1
1   0  0
2   0  1
3   0  1
4   0  1
.. .. ..
60  0  0
62  0  1
63  0  1
64  0  0
65  0  0

[65 rows x 2 columns]

In [113]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [128]:
df.drop(["Name","Ticket","Sex","Embarked","Cabin"],axis=1,inplace=True)
## Error is showing but it's still working !!

KeyError: "['Name' 'Ticket' 'Sex' 'Embarked'] not found in axis"

In [131]:
df.axes

[Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             881, 882, 883, 884, 885, 886, 887, 888, 889, 890],
            dtype='int64', length=889),
 Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare',
        'Cabin'],
       dtype='object')]

In [132]:
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Cabin
0            1         0       3  22.0      1      0   7.2500   NaN
1            2         1       1  38.0      1      0  71.2833   C85
2            3         1       3  26.0      0      0   7.9250   NaN
3            4         1       1  35.0      1      0  53.1000  C123
4            5         0       3  35.0      0      0   8.0500   NaN

In [135]:
df.drop(["Cabin"],axis=1,inplace=True)
## Error is showing but it's still working !!

KeyError: "['Cabin'] not found in axis"

In [137]:
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [143]:
df=pd.concat([df,sex,emb],axis=1)

In [144]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,male,Q,S,male,Q,S,male,Q,S
0,1,0,3,22.0,1,0,7.2500,1,0,1,1,0,1,1,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,0,0,0,0,0,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,1,0,0,1,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,1,0,0,1,0,0,1
4,5,0,3,35.0,0,0,8.0500,1,0,1,1,0,1,1,0,1

In [145]:
## As i ran the upper block (In[143]) thrice, therefore , in our dataset there are 3 sets of ( Male, Q and S)

In [148]:
df=df.iloc[:,:10]

In [149]:
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [154]:
## Now our data is ready for modelling

### One hot encoding for multiple category values

In [160]:
df = pd.read_csv("mercedesbenz.csv",usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [161]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [169]:
for i in df.columns:
    print(i,len(df[i].unique()))

X0 47
X1 27
X2 44
X3 7
X4 4
X5 29
X6 12

In [166]:
## we will perform this method on 0,1,2 and 5 columns ( just...)

In [171]:
for i in ["X0","X1","X2","X5"]:
    list("top_10_"+i) = [x for x in df[i].value_counts().head(10).index]

SyntaxError: cannot assign to function call (<ipython-input-171-77a88820b942>, line 2)

In [177]:
top_10_X0 = [x for x in df["X0"].value_counts().head(10).index]

In [178]:
top_10_X0

['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w']

In [175]:
df["X0"].value_counts().head(10).index

Index(['z', 'ak', 'y', 'ay', 't', 'x', 'o', 'f', 'n', 'w'], dtype='object')

In [179]:
## Similarly,
top_10_X1 = [x for x in df["X1"].value_counts().head(10).index]
top_10_X2 = [x for x in df["X2"].value_counts().head(10).index]
top_10_X5 = [x for x in df["X5"].value_counts().head(10).index]

In [180]:
print(top_10_X1)
print(top_10_X2)
print(top_10_X5)

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']
['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']
['w', 'v', 'q', 'r', 'd', 's', 'n', 'm', 'p', 'i']

In [182]:
def handle(df,variable,top_10):
    for i in top_10:
        df[i]=np.where(df[variable]==i,1,0)

In [183]:
handle(df,"X0",top_10_X0)

In [185]:
df.head(10)

   X0 X1  X2 X3 X4 X5 X6  z  ak  y  ay  t  x  o  f  n  w
0   k  v  at  a  d  u  j  0   0  0   0  0  0  0  0  0  0
1   k  t  av  e  d  y  l  0   0  0   0  0  0  0  0  0  0
2  az  w   n  c  d  x  j  0   0  0   0  0  0  0  0  0  0
3  az  t   n  f  d  x  l  0   0  0   0  0  0  0  0  0  0
4  az  v   n  f  d  h  d  0   0  0   0  0  0  0  0  0  0
5   t  b   e  c  d  g  h  0   0  0   0  1  0  0  0  0  0
6  al  r   e  f  d  f  h  0   0  0   0  0  0  0  0  0  0
7   o  l  as  f  d  f  j  0   0  0   0  0  0  1  0  0  0
8   w  s  as  e  d  f  i  0   0  0   0  0  0  0  0  0  1
9   j  b  aq  c  d  f  a  0   0  0   0  0  0  0  0  0  0

In [187]:
top_10_X0[0]

'z'

In [189]:

df[["X0"]+top_10_X0]

      X0  z  ak  y  ay  t  x  o  f  n  w
0      k  0   0  0   0  0  0  0  0  0  0
1      k  0   0  0   0  0  0  0  0  0  0
2     az  0   0  0   0  0  0  0  0  0  0
3     az  0   0  0   0  0  0  0  0  0  0
4     az  0   0  0   0  0  0  0  0  0  0
...   .. ..  .. ..  .. .. .. .. .. .. ..
4204  ak  0   1  0   0  0  0  0  0  0  0
4205   j  0   0  0   0  0  0  0  0  0  0
4206  ak  0   1  0   0  0  0  0  0  0  0
4207  al  0   0  0   0  0  0  0  0  0  0
4208   z  1   0  0   0  0  0  0  0  0  0

[4209 rows x 11 columns]

In [192]:
handle(df,"X1",top_10_X1)
handle(df,"X2",top_10_X2)
handle(df,"X5",top_10_X5)

In [194]:
df.head()

   X0 X1  X2 X3 X4 X5 X6  z  ak  y  ...  a  c  as  ae  ai  m  e  q  d  p
0   k  v  at  a  d  u  j  0   0  0  ...  0  0   0   0   0  0  0  0  0  0
1   k  t  av  e  d  y  l  0   0  0  ...  0  0   0   0   0  0  0  0  0  0
2  az  w   n  c  d  x  j  0   0  0  ...  0  0   0   0   0  0  0  0  0  0
3  az  t   n  f  d  x  l  0   0  0  ...  0  0   0   0   0  0  0  0  0  0
4  az  v   n  f  d  h  d  0   0  0  ...  0  0   0   0   0  0  0  0  0  0

[5 rows x 34 columns]

In [196]:
df.columns  ## Many columns are missing(15) as there were common columns in top_10s and they got overlapped

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'z', 'ak', 'y', 'ay', 't',
       'x', 'o', 'f', 'n', 'w', 'aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c',
       'as', 'ae', 'ai', 'm', 'e', 'q', 'd', 'p'],
      dtype='object')

In [201]:

df[["X2"]+top_10_X2]

      X2  as  ae  ai  m  ak  r  n  s  f  e
0     at   0   0   0  0   0  0  0  0  0  0
1     av   0   0   0  0   0  0  0  0  0  0
2      n   0   0   0  0   0  0  0  0  0  0
3      n   0   0   0  0   0  0  0  0  0  0
4      n   0   0   0  0   0  0  0  0  0  0
...   ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  as   1   0   0  0   0  0  0  0  0  0
4205   t   0   0   0  0   0  0  0  0  0  0
4206   r   0   0   0  0   0  0  0  0  0  0
4207   e   0   0   0  0   0  0  0  0  0  1
4208  ae   0   1   0  0   0  0  0  0  0  0

[4209 rows x 11 columns]

In [200]:
## Here column names are same as there are common values in top_10. So there for we are not getting 40 columns and also the data is overlapping.
## To avoid this use following technique

In [202]:
df = pd.read_csv("mercedesbenz.csv",usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [203]:
top_10_X0 = [x for x in df["X0"].value_counts().head(10).index]
top_10_X1 = [x for x in df["X1"].value_counts().head(10).index]
top_10_X2 = [x for x in df["X2"].value_counts().head(10).index]
top_10_X5 = [x for x in df["X5"].value_counts().head(10).index]

In [204]:
## Change !! 

def handle(df,variable,top_10):
    for i in top_10:
        df[variable+'_'+i]=np.where(df[variable]==i,1,0) ## df[variable+i] will give a unique feature/variable

In [211]:
handle(df,"X0",top_10_X0)
handle(df,"X1",top_10_X1)
handle(df,"X2",top_10_X2)
handle(df,"X5",top_10_X5)

In [212]:
df.head()

,X0,X1,X2,X3,X4,X5,X6,X0_z,X0_ak,X0_y,...,X5_w,X5_v,X5_q,X5_r,X5_d,X5_s,X5_n,X5_m,X5_p,X5_i
0,k,v,at,a,d,u,j,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,k,t,av,e,d,y,l,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,az,w,n,c,d,x,j,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,az,t,n,f,d,x,l,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,az,v,n,f,d,h,d,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [213]:
df.shape

(4209, 47)

In [214]:
## Here we are getting all the 40 columns and the features are not overlapping because we used (variable_i) format.
## and this is how we handled the categorical labels with high cardinalilty by doing one hot enconding( not by dummy function) for 10 most frequent categorical labels

In [215]:
df.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X0_z', 'X0_ak', 'X0_y',
       'X0_ay', 'X0_t', 'X0_x', 'X0_o', 'X0_f', 'X0_n', 'X0_w', 'X1_aa',
       'X1_s', 'X1_b', 'X1_l', 'X1_v', 'X1_r', 'X1_i', 'X1_a', 'X1_c', 'X1_o',
       'X2_as', 'X2_ae', 'X2_ai', 'X2_m', 'X2_ak', 'X2_r', 'X2_n', 'X2_s',
       'X2_f', 'X2_e', 'X5_w', 'X5_v', 'X5_q', 'X5_r', 'X5_d', 'X5_s', 'X5_n',
       'X5_m', 'X5_p', 'X5_i'],
      dtype='object')

In [219]:
df[["X5"]+top_10_X5]

KeyError: "['v', 'n', 'd', 'w', 'q', 'p', 's', 'i', 'r', 'm'] not in index"

In [220]:
##KeyError: "['v', 'n', 'd', 'w', 'q', 'p', 's', 'i', 'r', 'm'] not in index" 
## Getting this error because we have no columns as v n d .... instead we have columns as X5_V , X5_n , X5_d...

In [223]:
df[["X5"]+["X5_v"]+["X5_n"]].head(20)

   X5  X5_v  X5_n
0   u     0     0
1   y     0     0
2   x     0     0
3   x     0     0
4   h     0     0
5   g     0     0
6   f     0     0
7   f     0     0
8   f     0     0
9   f     0     0
10  f     0     0
11  f     0     0
12  f     0     0
13  j     0     0
14  j     0     0
15  j     0     0
16  j     0     0
17  j     0     0
18  j     0     0
19  j     0     0

In [224]:
lst=df.columns

In [225]:
type(lst)

pandas.core.indexes.base.Index

In [226]:
lst=list(lst)  ## Converting index to list

In [228]:
type(lst)

list

In [231]:
list.insert(index,lst)

NameError: name 'index' is not defined

In [232]:
lst

['X0',
 'X1',
 'X2',
 'X3',
 'X4',
 'X5',
 'X6',
 'X0_z',
 'X0_ak',
 'X0_y',
 'X0_ay',
 'X0_t',
 'X0_x',
 'X0_o',
 'X0_f',
 'X0_n',
 'X0_w',
 'X1_aa',
 'X1_s',
 'X1_b',
 'X1_l',
 'X1_v',
 'X1_r',
 'X1_i',
 'X1_a',
 'X1_c',
 'X1_o',
 'X2_as',
 'X2_ae',
 'X2_ai',
 'X2_m',
 'X2_ak',
 'X2_r',
 'X2_n',
 'X2_s',
 'X2_f',
 'X2_e',
 'X5_w',
 'X5_v',
 'X5_q',
 'X5_r',
 'X5_d',
 'X5_s',
 'X5_n',
 'X5_m',
 'X5_p',
 'X5_i']

In [235]:
l =lst[-10:]  ## Accessing last 10 elements

In [237]:
l

['X5_w',
 'X5_v',
 'X5_q',
 'X5_r',
 'X5_d',
 'X5_s',
 'X5_n',
 'X5_m',
 'X5_p',
 'X5_i']

In [239]:
l.append("X5")   ## Two times append by mistake

In [240]:
l

['X5_w',
 'X5_v',
 'X5_q',
 'X5_r',
 'X5_d',
 'X5_s',
 'X5_n',
 'X5_m',
 'X5_p',
 'X5_i',
 'X5',
 'X5']

In [245]:
data=df[l]

In [246]:
data.head()

   X5_w  X5_v  X5_q  X5_r  X5_d  X5_s  X5_n  X5_m  X5_p  X5_i X5 X5
0     0     0     0     0     0     0     0     0     0     0  u  u
1     0     0     0     0     0     0     0     0     0     0  y  y
2     0     0     0     0     0     0     0     0     0     0  x  x
3     0     0     0     0     0     0     0     0     0     0  x  x
4     0     0     0     0     0     0     0     0     0     0  h  h

In [248]:
data.drop("X5",axis=1)

      X5_w  X5_v  X5_q  X5_r  X5_d  X5_s  X5_n  X5_m  X5_p  X5_i
0        0     0     0     0     0     0     0     0     0     0
1        0     0     0     0     0     0     0     0     0     0
2        0     0     0     0     0     0     0     0     0     0
3        0     0     0     0     0     0     0     0     0     0
4        0     0     0     0     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0     0     0     0     0
4205     0     0     0     0     0     0     0     0     0     0
4206     0     0     0     0     0     0     0     0     0     0
4207     0     0     0     0     0     0     0     0     0     0
4208     0     0     0     0     0     0     0     0     0     0

[4209 rows x 10 columns]

In [249]:
l

['X5_w',
 'X5_v',
 'X5_q',
 'X5_r',
 'X5_d',
 'X5_s',
 'X5_n',
 'X5_m',
 'X5_p',
 'X5_i',
 'X5',
 'X5']

In [250]:
l.pop(-1)

'X5'

In [251]:
l

['X5_w',
 'X5_v',
 'X5_q',
 'X5_r',
 'X5_d',
 'X5_s',
 'X5_n',
 'X5_m',
 'X5_p',
 'X5_i',
 'X5']

In [253]:
data=df[l]

In [256]:
data.head(50)

    X5_w  X5_v  X5_q  X5_r  X5_d  X5_s  X5_n  X5_m  X5_p  X5_i X5
0      0     0     0     0     0     0     0     0     0     0  u
1      0     0     0     0     0     0     0     0     0     0  y
2      0     0     0     0     0     0     0     0     0     0  x
3      0     0     0     0     0     0     0     0     0     0  x
4      0     0     0     0     0     0     0     0     0     0  h
5      0     0     0     0     0     0     0     0     0     0  g
6      0     0     0     0     0     0     0     0     0     0  f
7      0     0     0     0     0     0     0     0     0     0  f
8      0     0     0     0     0     0     0     0     0     0  f
9      0     0     0     0     0     0     0     0     0     0  f
10     0     0     0     0     0     0     0     0     0     0  f
11     0     0     0     0     0     0     0     0     0     0  f
12     0     0     0     0     0     0     0     0     0     0  f
13     0     0     0     0     0     0     0     0     0     0  j
14     0     0     0     0     0     0     0     0     0     0  j
15     0     0     0     0     0     0     0     0     0     0  j
16     0     0     0     0     0     0     0     0     0     0  j
17     0     0     0     0     0     0     0     0     0     0  j
18     0     0     0     0     0     0     0     0     0     0  j
19     0     0     0     0     0     0     0     0     0     0  j
20     0     0     0     0     0     0     0     0     0     0  j
21     0     0     0     0     0     0     0     0     0     0  j
22     0     0     0     0     0     0     0     0     0     0  j
23     0     0     0     0     0     0     0     0     0     0  j
24     0     0     0     0     0     0     0     0     0     0  j
25     0     0     0     0     0     0     0     0     0     0  j
26     0     0     0     0     0     0     0     0     0     0  j
27     0     0     0     0     0     0     0     0     0     0  j
28     0     0     0     0     0     0     0     0     0     0  j
29     0     0     0     0     0     0     0     0     0     0  j
30     0     0     0     0     0     0     0     0     0     0  j
31     0     0     0     0     0     0     0     0     0     0  j
32     0     0     0     0     0     0     0     0     0     0  j
33     0     0     0     0     0     0     0     0     0     0  j
34     0     0     0     0     0     0     0     0     0     0  j
35     0     0     0     0     0     0     0     0     0     0  j
36     0     0     0     0     0     0     0     0     0     0  j
37     0     0     0     0     0     0     0     0     0     0  j
38     0     0     0     0     0     0     0     0     0     0  j
39     0     0     0     0     0     0     0     0     0     0  j
40     0     0     0     0     0     0     0     0     0     0  j
41     0     0     0     0     0     0     0     0     0     0  j
42     0     0     0     0     0     0     0     0     0     0  j
43     0     0     0     0     0     0     0     0     0     0  j
44     0     0     0     0     0     0     0     0     0     0  j
45     0     0     0     0     0     0     0     0     0     0  j
46     0     0     0     0     0     0     0     0     0     0  j
47     0     0     0     0     0     0     0     0     0     0  j
48     0     0     0     0     0     0     0     0     0     0  j
49     0     0     0     0     0     0     0     0     0     0  j