## Ordinal Number Encoding

In [16]:
import pandas as pd

In [1]:
import datetime

In [2]:
today_date = datetime.datetime.today()

In [4]:
today_date

datetime.datetime(2020, 11, 21, 10, 58, 46, 347146)

In [5]:
datetime.timedelta(2)

datetime.timedelta(days=2)

In [8]:
today_date-datetime.timedelta(4)

datetime.datetime(2020, 11, 17, 10, 58, 46, 347146)

In [9]:
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [10]:
days

[datetime.datetime(2020, 11, 21, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 20, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 19, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 18, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 17, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 16, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 15, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 14, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 13, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 12, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 11, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 10, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 9, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 8, 10, 58, 46, 347146),
 datetime.datetime(2020, 11, 7, 10, 58, 46, 347146)]

In [11]:
type(days)

list

In [12]:
df=pd.DataFrame(days)

In [14]:
df.columns=["Date_Time"]

In [15]:
df.head()

                   Date_Time
0 2020-11-21 10:58:46.347146
1 2020-11-20 10:58:46.347146
2 2020-11-19 10:58:46.347146
3 2020-11-18 10:58:46.347146
4 2020-11-17 10:58:46.347146

In [20]:
df["Days"]=df["Date_Time"].dt.day_name()

In [21]:
df.head()

                   Date_Time       Days
0 2020-11-21 10:58:46.347146   Saturday
1 2020-11-20 10:58:46.347146     Friday
2 2020-11-19 10:58:46.347146   Thursday
3 2020-11-18 10:58:46.347146  Wednesday
4 2020-11-17 10:58:46.347146    Tuesday

In [ ]:
## This is the final dataset and we need to handle days feature. We will use ordinal number encoding and replace each day with there respective rank.

In [22]:
mapping={"Sunday":7,"Saturday":6,"Friday":5,"Thursday":4,"Wednesday":3,"Tuesday":2,"Monday":1}

In [23]:
df["Days"].map(mapping)

0     6
1     5
2     4
3     3
4     2
5     1
6     7
7     6
8     5
9     4
10    3
11    2
12    1
13    7
14    6
Name: Days, dtype: int64

In [24]:
df.head()

                   Date_Time       Days
0 2020-11-21 10:58:46.347146   Saturday
1 2020-11-20 10:58:46.347146     Friday
2 2020-11-19 10:58:46.347146   Thursday
3 2020-11-18 10:58:46.347146  Wednesday
4 2020-11-17 10:58:46.347146    Tuesday

In [26]:
df["Days"]=df["Days"].map(mapping)

In [27]:
df.head()

                   Date_Time  Days
0 2020-11-21 10:58:46.347146     6
1 2020-11-20 10:58:46.347146     5
2 2020-11-19 10:58:46.347146     4
3 2020-11-18 10:58:46.347146     3
4 2020-11-17 10:58:46.347146     2

In [28]:
##-----------------------------------------------------------------####

## Count or Frequency Encoding

In [74]:
train= pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data" , header = None, index_col=None)

In [75]:
train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [76]:
train = train[[1,3,5,6,7,8,9,13]]

In [77]:
train.head()

,1,3,5,6,7,8,9,13
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [78]:
train.columns=["Employment","Degree","Status","Designation","Family_job","Race","Sex","Country"]

In [79]:
for col in train.columns:
    print(col,len(train[col].unique()),"Labels")

Employment 9 Labels
Degree 16 Labels
Status 7 Labels
Designation 15 Labels
Family_job 6 Labels
Race 5 Labels
Sex 2 Labels
Country 42 Labels

In [50]:
## Here first will encode country  feature and then whole data set

In [80]:
map=train["Country"].value_counts().to_dict()

In [81]:
#first will handle missing values:
   # 1 ways is to replace ? by most frequnet label
   # 2 way is to treat ? as a new categorical label altogheter(say others)

In [82]:
## Will use the 2nd method

In [90]:
train["Country_new"]=np.where(train["Country"]=="?","Others",train["Country"])

In [91]:
train["Country_new"].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country_new, dtype: int64

In [92]:
## I don't know , why this method is not working , i need to check this out !

In [93]:
## I'll try the first method here ! (replacing by mode value)

In [134]:
train= pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data" , header = None, index_col=None)

In [135]:
train = train[[1,3,5,6,7,8,9,13]]

In [136]:
train.columns=["Employment","Degree","Status","Designation","Family_job","Race","Sex","Country"]

In [137]:
train.head()

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [138]:
train["Country"].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [139]:
m=train["Country"].mode()

In [140]:
m

0     United-States
dtype: object

In [141]:
import numpy as np

In [142]:
train["Country"]= np.where(train["Country"]=="?",m,train["Country"])

In [143]:
train["Country"].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [144]:
## Still not working !!!!

In [145]:
train[train["Country"]=="United-States"]

Empty DataFrame
Columns: [Employment, Degree, Status, Designation, Family_job, Race, Sex, Country]
Index: []

In [146]:
train[train["Country"]==" United-States"]

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States
...,...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

In [147]:
train[train["Country"]=="?"]

Empty DataFrame
Columns: [Employment, Degree, Status, Designation, Family_job, Race, Sex, Country]
Index: []

In [149]:
train[train["Country"]==" ?"]   #Labels are having space " " at starting

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,?
38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,?
51,Private,HS-grad,Never-married,Other-service,Own-child,White,Female,?
61,?,7th-8th,Married-spouse-absent,?,Not-in-family,White,Male,?
93,Private,HS-grad,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,?
...,...,...,...,...,...,...,...,...
32449,Self-emp-inc,Masters,Married-civ-spouse,Sales,Husband,White,Male,?
32469,Self-emp-inc,Doctorate,Never-married,Prof-specialty,Not-in-family,White,Female,?
32492,Self-emp-not-inc,HS-grad,Divorced,Sales,Own-child,White,Male,?
32510,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,?
32525,?,Assoc-voc,Divorced,?,Unmarried,White,Female,?

In [150]:
## Got it !!!

In [151]:
## The thing is feature values are in some different format , they are having space at first

In [152]:
## Now we can use any method, will again try 2nd one

In [153]:
train["Country"]=np.where(train["Country"]==" ?"," Others",train["Country"])

In [154]:
train["Country"].value_counts()  ## We successfully replaced ? values by "others" and this is our new categoriccal label

 United-States                 29170
 Mexico                          643
 Others                          583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [155]:
## Now we will apply count or frequency encoding

In [156]:
map

{' United-States': 29170,
 ' Mexico': 643,
 ' ?': 583,
 ' Philippines': 198,
 ' Germany': 137,
 ' Canada': 121,
 ' Puerto-Rico': 114,
 ' El-Salvador': 106,
 ' India': 100,
 ' Cuba': 95,
 ' England': 90,
 ' Jamaica': 81,
 ' South': 80,
 ' China': 75,
 ' Italy': 73,
 ' Dominican-Republic': 70,
 ' Vietnam': 67,
 ' Guatemala': 64,
 ' Japan': 62,
 ' Poland': 60,
 ' Columbia': 59,
 ' Taiwan': 51,
 ' Haiti': 44,
 ' Iran': 43,
 ' Portugal': 37,
 ' Nicaragua': 34,
 ' Peru': 31,
 ' Greece': 29,
 ' France': 29,
 ' Ecuador': 28,
 ' Ireland': 24,
 ' Hong': 20,
 ' Cambodia': 19,
 ' Trinadad&Tobago': 19,
 ' Thailand': 18,
 ' Laos': 18,
 ' Yugoslavia': 16,
 ' Outlying-US(Guam-USVI-etc)': 14,
 ' Honduras': 13,
 ' Hungary': 13,
 ' Scotland': 12,
 ' Holand-Netherlands': 1}

In [157]:
train.head()

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [158]:
train["Country"]=train["Country"].map(map)

In [159]:
train.head()

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170.0
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170.0
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170.0
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170.0
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95.0

In [161]:
## And this is how we handle categorical values with high cardinality as one hot encoding is not preferred for high cardinal varibales

#### Advantages: 
    1. Easy to implement
    2. Takes less feature space
####  Disadvantages:
        1. It will provide the same weight if the frequencies are same .  Models won't be able to distinguish labels with same frequency

In [160]:
##-----------------------------------------------------------------------#

## Target Guided Ordinal Encoding
1. Ordering the labels according to the target->(mean of each label wrt output(survival))
2. Replace the labels by the joint probability of being 1 or 0

In [2]:
df= pd.read_csv("titanic_train.csv",usecols=["Survived","Cabin"])

In [3]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [4]:
df["Cabin"].fillna("Missing",inplace=True)

In [5]:
df["Cabin"].isnull().sum()

0

In [6]:
## here in cabin labels are in the form: E46, C67, C123. But we just need the first letter of the label as it is sufficient to represent the cabin

In [7]:
df['Cabin']=df['Cabin'].astype(str).str[0] ## Cast a pandas object to a specified dtype `

In [8]:
df=df.astype(str).str[0]

AttributeError: 'DataFrame' object has no attribute 'str'

In [9]:
df_sparse = df["Cabin"].to_sparse()
df_sparse_optimized = df_sparse["Cabin"].astype(str)

AttributeError: 'Series' object has no attribute 'to_sparse'

In [10]:
df.dtypes

Survived     int64
Cabin       object
dtype: object

In [11]:
df["Cabin"].str.extract()

TypeError: extract() missing 1 required positional argument: 'pat'

In [12]:
df['Cabin']=df['Cabin'].astype('str').str[0]  ## Worked !!!!! ("str") instead of str

In [13]:
df["Cabin"]

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [14]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [15]:
df.groupby(["Cabin"])["Survived"]

In [16]:
df.groupby(["Cabin"])["Survived"].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [17]:
l=df.groupby(["Cabin"])["Survived"].mean().sort_values().index

In [18]:
type(l)

pandas.core.indexes.base.Index

In [19]:
l

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [20]:
## Dictionary Comprehension
{i:k for i,k in enumerate(l,0)}

{0: 'T', 1: 'M', 2: 'A', 3: 'G', 4: 'C', 5: 'F', 6: 'B', 7: 'E', 8: 'D'}

In [21]:
mapping = {k:i for i,k in enumerate(l,0)}
mapping ## We ranked labels according to their percentage affecting the survival( Higher the rank, higher the people in that cabin survived)

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [22]:
df["Cabin"]=df["Cabin"].map(mapping)

In [23]:
df.head(20)

    Survived  Cabin
0          0      1
1          1      4
2          1      1
3          1      4
4          0      1
5          0      1
6          0      7
7          0      1
8          1      1
9          1      1
10         1      3
11         1      4
12         0      1
13         0      1
14         0      1
15         1      1
16         0      1
17         1      1
18         0      1
19         1      1

In [1]:
##

## Mean Encoding

In [25]:
df= pd.read_csv("titanic_train.csv",usecols=["Survived","Cabin"])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [27]:
df["Cabin"].fillna("Missing",inplace=True)

In [28]:
df["Cabin"]=df["Cabin"].astype('str').str[0]

In [29]:
df["Cabin"]

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [30]:
df.groupby(["Cabin"])["Survived"].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [31]:
mean_encode=df.groupby(["Cabin"])["Survived"].mean().to_dict()

In [32]:
mean_encode

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [34]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [35]:
df["Cabin"]=df['Cabin'].map(mean_encode)

In [36]:
df.head(20)

    Survived     Cabin
0          0  0.299854
1          1  0.593220
2          1  0.299854
3          1  0.593220
4          0  0.299854
5          0  0.299854
6          0  0.750000
7          0  0.299854
8          1  0.299854
9          1  0.299854
10         1  0.500000
11         1  0.593220
12         0  0.299854
13         0  0.299854
14         0  0.299854
15         1  0.299854
16         0  0.299854
17         1  0.299854
18         0  0.299854
19         1  0.299854

##### This was all about "mean encoding"

### Advantages: 
1. It creates the monotonic relation between variable and the target
2. It captures the information within the labels and therefore rendering more predictive features

#### Diadvantages:
1. It prones to overfitting

In [ ]:
##-----------------------------------------------------------------------

##  Probability ratio encoding

1. Probability of survived based on cabin---- Categorical Feature
2. Probability of not survived (1-prob(survived)
3. Divide (prob(survived)/prob(not survived)) to get probability ratio
4. Map(replace) this probability ratio with Cabin labels by using dictionary

In [37]:
df= pd.read_csv("titanic_train.csv",usecols=["Survived","Cabin"])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [38]:
df["Cabin"].fillna("Missing",inplace=True)

In [39]:
df["Cabin"]=df["Cabin"].astype('str').str[0]
df["Cabin"]

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [41]:
prob_df=df.groupby(["Cabin"])["Survived"].mean()

In [42]:
prob_df

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [45]:
prob_df=pd.DataFrame(prob_df)  ## Here we get Cabin values as indices(rows) and prob(survived) as column feature

In [46]:
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [47]:
prob_df["Died"]= 1-prob_df["Survived"]

In [48]:
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [49]:
## Now the formula for probability ratio is (probability of survived/probability of died)

In [50]:
prob_df["Prob_ratio"]=prob_df["Survived"]/prob_df["Died"]
prob_df.head()

       Survived      Died  Prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000

In [51]:
## Now we will replace our cabin lables with this probability ratio

In [53]:
prob_df.groupby(["Cabin"])["Prob_ratio"].to_dict()

AttributeError: 'SeriesGroupBy' object has no attribute 'to_dict'

In [54]:
prob_df["Prob_ratio"]

Cabin
A    0.875000
B    2.916667
C    1.458333
D    3.125000
E    3.000000
F    1.600000
G    1.000000
M    0.428274
T    0.000000
Name: Prob_ratio, dtype: float64

In [55]:
prob_encode=prob_df["Prob_ratio"].to_dict()
prob_encode

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [56]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [57]:
df["Cabin_encode"]=df['Cabin'].map(prob_encode)

In [59]:
df.head(10)

   Survived Cabin  Cabin_encode
0         0     M      0.428274
1         1     C      1.458333
2         1     M      0.428274
3         1     C      1.458333
4         0     M      0.428274
5         0     M      0.428274
6         0     E      3.000000
7         0     M      0.428274
8         1     M      0.428274
9         1     M      0.428274